/* Start About Us */
.body-pages{padding-top:61px}
.breadcrumb-holder{background-color:#F5F5F5;}
.breadcrumb{padding:10px 0; margin:0}
.about-us{padding:70px 0 50px}
.about-us h1{font-family: 'Raleway', sans-serif;letter-spacing:-3px; font-size:62px;}
.breadcrumb a{color:#428bca}
.about-us img{width: 80%;}
.about-us hr{width:70%; border-top: 2px solid #eee;}
.about-featrues{padding:0 0 50px}
.about-featrues h3{font-family:'Raleway', sans-serif; letter-spacing:-1px;}
.about-featrues p{margin-bottom:20px;}
.about-ceo{background-color:#EEE;padding-top:40px}
.about-ceo h2{font-family:'Raleway', sans-serif;}
.about-ceo .lead{line-height:1.7}
.about-ceo img{width:100%}
.about-ceo .btn-primary{background-color:#333;border-color:#333; margin-bottom:50px;}
/* End About Us */
@media (min-width:768px) and (max-width:991px){
    .about-ceo img{width:100%}
}

@media (max-width:767px) {
    .about-ceo img{width:45%}
}

/*Start FAQ*/
.faq {padding:40px 0;}
.faq h1{
    font-family:'Raleway', sans-sefif;
    letter-spacing:-3px;
    font-size :65px;
}

.fag h1 ~ hr{
    width:70%;
}

.faq-questions .panel-heading {padding:15px}

.faq-questions .panel-heading a:after{
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float:right;
    color:#444;
}

.faq-questions .panel-heading a.collapsed:after{content:"\e080";color:#999;}
/*End FAQ*/